/* header */
.bgHonda{
    background-color: #264653;
}
.btnLogin{
    background-color: #E76F51;
    padding: 10px 24px;
    border-radius: 5px;
}
.textHeader{
    color: #E0E0E0;
}
.btn1{
    width: 168px;
    height: 44px;
    padding: 10px;
}

/* Featured Bikes */

.imgGray{
    filter: grayscale(100%);
}
 /* Happy Clients */
 .textClients{
    color: #E76F51;
 }
 .client2Img{
    width: 67%;
 }

 /* Footer */
 .bgFooter{
    background-color: #0B0D17;
 }
 .textFooter{
    color: #D9DBE1;
 }