/* header */
.bgHonda{
    background-color: #264653;
}
.textHeader{
    color: #E0E0E0;
}
.btn1{
    width: 168px;
    height: 44px;
    padding: 10px;
}

/* Featured Bikes */

.imgGray{
    filter: grayscale(100%);
}